<?xml version="1.0" encoding="utf-8"?>

<!-- log4net原理解析：https://cloud.tencent.com/developer/article/1463331 -->
<!-- asp.netcore Log4Net连接kafka的方法：https://www.cnblogs.com/puzi0315/p/11429817.html -->
<!-- 非常完善的Log4net详细说明：https://www.cnblogs.com/liuslayer/p/10568816.html -->
<log4net>
    <appender name="KafkaAppender" type="log4net.Kafka.Core.KafkaAppender, log4net.Kafka.Core">
        <KafkaSettings>
            <broker value="localhost:9092" />
            <topic value="elk-test" />
        </KafkaSettings>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{ISO8601}|192.168.0.107|%level|%thread|%logger|%message%newline" />
        </layout>
    </appender>
    <root>
        <level value="ALL" />
        <appender-ref ref="KafkaAppender" />
    </root>
</log4net>