<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="KafkaAppender" type="log4net.Kafka.Core.KafkaAppender, log4net.Kafka.Core">
        <KafkaSettings>
            <broker value="localhost:9092" />
            <topic value="elk-test" />
        </KafkaSettings>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date|192.168.0.107|%level|%thread|%logger|%message%newline"/>
        </layout>
    </appender>
    <root>
        <level value="ALL"/>
        <appender-ref ref="KafkaAppender" />
    </root>
</log4net>